.ModalBackground {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  /* background: rgba(0, 0, 0, 0.3); */
  background: rgba(0, 0, 0, 0.5);
  z-index: 100;
  display: flex;
  justify-content: center;
  align-items: center;
}

.ModalContainer {
  background: white;
  border-radius: 5px;
  padding: 20px;
  width: 400px;
  max-width: 100%;
  box-sizing: border-box;
  position: relative;
}
